name: Pipeline Guardian - CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  sast:
    uses: ./.github/workflows/security-sast.yml

  dependencies:
    needs: sast
    uses: ./.github/workflows/security-deps.yml

  container:
    needs: dependencies
    uses: ./.github/workflows/security-container.yml

  dast:
    needs: container
    uses: ./.github/workflows/security-dast.yml
